/* general */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    color: var(--blue);
}
:root {
    --blue: #00b;
    --red: #f00;
    --yellow: #ffcd00;
}

.red {
    color: var(--red);
}

.yellow {
    color: #ffcd00;
}

/* header */

.header {
    max-width: 600px;
    margin: 0 auto;
    height: 30vh;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    height: 90%;
    margin: 0 20px;
}

.animation-wrapper {
    position: relative;
    height: 100%;
    width: 21vh;
}

.title {
    margin-top: 20px;
}
.title h1 {
    font-size: min(7vw, 36px);
}

.title h3 {
    font-size: min(4.2vw, 22px);
    margin: 4px 4px 0 0;
}
