/* general */
* {
    box-sizing: border-box;
    margin: 0;
}

/* man positioning */

.man {
    position: relative;
    height: 500px;
    width: 700px;
}

.man img {
    position: absolute;
}

.upper-body {
    width: 65%;
    height: 65%;
    bottom: 25%;
    position: absolute;
}

.boat-legs-laptop-motor {
    position: absolute;
    width: 90%;
    height: 78.6%;
    bottom: 0;
    left: 3%;
}

.legs-and-boat {
    width: 73%;
    bottom: 0;
}

.motor {
    position: absolute;
    width: 28%;
    height: 50%;
    bottom: 11%;
    right: 1%;
}

.propeller {
    bottom: -14%;
    width: 36%;
    right: 29%;
}

.torso {
    height: 100%;
    top: 0;
    right: 0;
}

.l-arm {
    width: 36%;
    right: 13%;
    top: 23%;
    z-index: 1;
}

.r-arm {
    width: 26%;
    top: 35%;
    right: 24%;
}

.laptop {
    width: 16%;
    top: 0;
    left: 25.5%;
}

/* animate motor */

.motor {
    transform-origin: 30% 50%;
    animation: wiggle 80ms infinite;
}

@keyframes wiggle {
    0%,
    100% {
        transform: rotate(-0.8deg);
    }
    50% {
        transform: rotate(0.8deg);
    }
}
