/* general */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    color: var(--blue);
}
:root {
    --blue: #00b;
    --red: #f00;
    --yellow: #ffcd00;
}

.red {
    color: var(--red);
}

.yellow {
    color: #ffcd00;
}

/* header */
header {
    display: flex;
    justify-content: flex-start;
    height: 35vh;
}
