/* general */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    color: var(--blue);
}
:root {
    --blue: #00b;
    --red: #ed2a2f;
    --yellow: #ffcd00;
}

.red {
    color: var(--red);
}

.yellow {
    color: #ffcd00;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#root {
    height: 93vh;
    display: flex;
    flex-direction: column;
}

.App {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main {
    position: relative;
    height: 100%;
    overflow: scroll;
}

ul {
    padding-inline-start: 20px;
}
li {
    margin: 20px 0px;
}
video {
    height: 100%;
    width: 100%;
}

.page {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    overflow: scroll;
}
/* cursor */

.navLink,
.icon {
    cursor: pointer;
}

/* header */

.flex-header {
    display: flex;
    justify-content: space-between;
}

.animation-wrapper {
    position: relative;
    min-height: 100px;
    min-width: 140px;
    margin: 0 auto;
}

.title h1 {
    font-size: min(6.9vw, 36px);
}

.title h3 {
    font-size: min(4.1vw, 22px);
    margin: 4px 4px 0 0;
}

/* navbar */
nav {
    margin: 10px 0 15px 0;
}

.navLinks {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    font-weight: 350;
    font-size: 5vw;
    position: relative;
    overflow: hidden;
    padding-bottom: 5px;
}
.navLink a {
    text-decoration: none;
}

.slider {
    transition: 0.5s;
    position: absolute;
    bottom: 0;
    height: 2px;
    background: var(--yellow);
}

.slider-blog {
    margin: 0;
    width: 12%;
}
.slider-portfolio {
    margin-left: 19%;
    width: 22%;
}
.slider-about {
    margin-left: 48%;
    width: 25%;
}
.slider-contact {
    margin-left: 80%;
    width: 20%;
}

.space {
    flex-grow: 1;
    background: white;
    z-index: 1;
}

/* main */
/* main {
    overflow: hidden;
    display: flex;
    flex-grow: 1;
}
#contentContainer {
    width: 100%;
    overflow: hidden;
}

#contentWrapper {
    width: 300%;
    display: flex;
    justify-content: space-between;
    transition: 500ms;
    overflow: hidden;
    height: 100%;
}

.show {
    display: inline-block;
}

main p {
    line-height: 1.7rem;
} */
/* about me */
.about-me {
    overflow: scroll;
}

.about-me p {
    margin-bottom: 10px;
}

/* portfolio */
.portfolio {
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 1fr auto;
    position: relative;
    grid-column-gap: 20px;
}

.portfolio-element-wrapper {
    height: 100%;
    overflow: scroll;
    position: relative;
}

.icon {
    background: white;
    width: 12px;
}

.portfolio-element {
    display: block;
    transition: 0.5s;
    width: 100%;
    height: 0%;
    position: absolute;
    width: 100%;
    height: 0%;
    overflow: hidden;
}

.portfolio-element-content {
    padding: 0 10px;
}

.portfolio-element h2 {
    text-align: center;
    margin-bottom: 15px;
}

.portfolio-element video {
    margin-bottom: 25px;
}

.portfolio-element p {
    margin-bottom: 20px;
}
.portfolio-description {
    font-weight: bold;
}

.portfolio-element a {
    font-weight: bold;
    border: 2px solid var(--blue);
    padding: 7px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    display: block;
    text-align: center;
    word-break: break-all;
}

.portfolio-element ul {
    margin-bottom: 50px;
}

.portfolio-slide-in-right {
    animation: slide-in-right 1s;
}
.portfolio-slide-in-left {
    animation: slide-in-left 1s;
}
.portfolio-slide-out-right {
    animation: slide-out-right 1s;
}
.portfolio-slide-out-left {
    animation: slide-out-left 1s;
}

@keyframes slide-in-right {
    0% {
        height: auto;
        transform: translateX(100%);
    }
    100% {
        height: auto;
        transform: translateX(0);
    }
}
@keyframes slide-in-left {
    0% {
        height: auto;
        transform: translateX(-100%);
    }
    100% {
        height: auto;
        transform: translateX(0);
    }
}
@keyframes slide-out-right {
    0% {
        height: auto;
        transform: translateX(0);
    }
    100% {
        height: auto;
        transform: translateX(100%);
    }
}
@keyframes slide-out-left {
    0% {
        height: auto;
        transform: translateX(0);
    }
    100% {
        height: auto;
        transform: translateX(-100%);
    }
}

/* contact */
.contact {
    overflow: scroll;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contact-card {
    background: var(--blue);
    width: 100%;
    height: 250px;
    border-radius: 7px;
    padding: 25px;
    margin-bottom: 30px;
}
.contact-card ul {
    padding: 0;
}
.contact-card a {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.contact-card img {
    width: 50px;
    margin-right: 20px;
}
.contact-card p {
    color: white;
    font-size: 1.6rem;
}
.contact-form {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
}
.contact-form h4 {
    font-weight: 400;
    margin-bottom: 15px;
}
.contact-form form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    border: 1px solid var(--blue);
    border-radius: 7px;
    padding: 8px;
    margin: 4px 0;
}
.contact-form button {
    margin-bottom: 0;
    width: 55px;
    font-weight: bold;
    padding: 6px;
    background: white;
}

.form-sender {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.form-sender input:first-of-type {
    width: 40%;
}
.form-sender input:last-of-type {
    width: 58%;
}

.contact-form textarea {
    resize: none;
    flex-grow: 1;
}

input::placeholder,
textarea::placeholder {
    color: var(--blue);
}
/* media query */
@media (min-width: 600px) {
    .navLinks {
        max-width: 350px;
        margin: 0;
    }
    .contact {
        flex-wrap: nowrap;
    }
    .contact-card {
        margin-bottom: 0;
        margin-right: 30px;
    }
}
@media (min-width: 350px) {
    .navLinks {
        font-size: 1.2rem;
    }
}

/* active, show etc */
.show-portfolio-element {
    height: auto;
}

/* animations */
.fade-appear,
.fade-enter {
    opacity: 0;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: 300ms linear;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: 300ms linear;
}
